<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de funcionarios</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="d-flex justify-content-center mt-2 mb-2">Cadastro de funcionários</h1>

    <div class="container">
        <form id="frmFunc" class="mt-2 row g-3">
            <!--Buscar Funcionarios-->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClinet" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-dark" id="btnRead" onclick="searchFunc()">Buscar</button>
            </div>

            <!--Linha-->
            <hr class="mt-4 border border-primary border -1">

            <!--Nome do Funcionarios-->
            <div class="col-md-8">
                <label for="inputNameFunc" class="form-label">Nome</label>

                <input type="text" class="form-control" id="inputNameFunc" required spellcheck="false" maxlength="30">
            </div>

            <!--CPF do Funcionarios-->
            <div class="col-md-4">
                <label for="inputCPFFunc" class="form-label">CPF</label>

                <input type="text" class="form-control" id="inputCPFFunc" spellcheck="false" maxlength="30">
            </div>

            <!--Email-->
            <div class="col-md-6">
                <label for="inputEmailFunc" class="form-label">Email</label>

                <input type="email" class="form-control" id="inputEmailNameFunc" required spellcheck="false"
                    maxlength="30">
            </div>

            <!--Telefone-->
            <div class="col-md-4">
                <label for="inputIPhoneFunc" class="form-label">Telefone</label>

                <input type="tel" class="form-control" id="inputIPhoneFunc" required spellcheck="false" maxlength="15">
            </div>

            <!--CEP-->
            <div class="col-md-2">
                <label for="inputCEPFunc" class="form-label">CEP</label>

                <input type="tel" class="form-control" id="inputCEPFunc" required spellcheck="false" maxlength="9">
            </div>

            <!--Cargo-->
            <div class="col-md-5">
                <label for="inputCargoFunc" class="form-label">Cargo</label>

                <input type="text" class="form-control" id="inputCargoFunc" spellcheck="false"maxlength="30">
            </div>

            <!--Hora-->
            <div class="col-md-3">
                <label for="inputHoraFunc" class="form-label">Hora</label>

                <input type="time" class="form-control" id="inputHoraFunc" spellcheck="false"maxlength="8">
            </div>

            <!--Salário-->
            <div class="col-md-4">
                <label for="inputSalarioFunc" class="form-label">Salário</label>

                <input type="text" class="form-control" id="inputSalarioFunc" spellcheck="false"maxlength="10">
            </div>

            <!--Botões-->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>

                <button type="reset" class="btn mt-3" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>

    <!--Bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>

</body>
</html>