<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo e placa de moto</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="d-flex justify-content-center mt-2 mb-2">Cadastro de moto</h1>

    <div class="container">
        <form id="frmMoto" class="mt-2 row g-3">

            <div class="col-md-6">
                <input type="text" class="form-control" id="searchMoto" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-dark" id="btnRead" onclick="searchMoto()">Buscar</button>
            </div>

            <hr class="mt-4 border border-primary border -1">

            <div class="col-md-4">
                <label for="inputPlacaMoto" class="form-label">Placa</label>

                <input type="text" class="form-control" id="inputPlacaMoto" required spellcheck="false" maxlength="30">
            </div>

            <div class="col-md-4">
                <label for="inputMarcaMoto" class="form-label">Marca</label>

                <input type="text" class="form-control" id="inputMarcaMoto" required spellcheck="false" maxlength="30">
            </div>

            <div class="col-md-4">
                <label for="inputModeloMoto" class="form-label">Modelo</label>

                <input type="text" class="form-control" id="inputModeloMoto" required spellcheck="false" maxlength="30">
            </div>

            <div class="col-md-4">
                <label for="inputAnoMoto" class="form-label">Ano da moto</label>

                <input type="text" class="form-control" id="inputAnoMoto" required spellcheck="false" maxlength="30">
            </div>

            <div class="col-md-4">
                <label for="inputCorMoto" class="form-label">Cor</label>

                <input type="text" class="form-control" id="inputCorMoto" required spellcheck="false" maxlength="30">
            </div>

            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>

                <button type="reset" class="btn mt-3" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>

    <script src="rendererMoto.js"></script>

</body>
</html>